:root {
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
}
body {
    font-family: "Inter", sans-serif; /* 3, 5, 7 */
    display: grid;
    min-height: 100vh;
    place-items: center;
    padding: 1.7rem .5rem;
    background-image: url("images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.slider-container {
    position: relative;
    width: 100%;
    max-width: 380px;
    height: 596px;
    overflow: hidden;
    background-image: url("images/pattern-bg.svg"), 
                    url("images/pattern-quotes.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 345px, 60px;
    background-position: 50% 0%, 155px 345px;
}
.slider-wrap {   
    position: absolute; 
    text-align: center;    
    width: 100%;
    transition: all .3s ease-in-out;
}
.img-wrap img {
    max-width: 260px;
    width: 100%;
    margin: 2rem auto;
    border-radius: .3rem;
    box-shadow: 0rem 1.5rem 1rem rgba(0, 0, 0, 0.146);
}
.btns-wrap {    
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    overflow: hidden;
    top: 273px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}
.btns-wrap button {
    background-color: white;
    padding: .68rem .9rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease;
}
.btns-wrap button:hover, .btns-wrap button:focus{
    background-color: hsl(249, 61%, 94%);
} 
.quote {
    margin-top: 5rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--DarkBlue);
    padding-inline: 1.3rem;
}
.name {
    margin-top: 1.2em;
    font-size: 1rem;
    font-weight: 700;
}
.name span {
    display: block;
    color: var(--GrayishBlue);
    font-weight: 500;
}
@media (min-width: 1100px) {
    body {
        background-size: unset;
        background-position: 0% 100%;
        padding: 1.7rem 1rem; 
    }
    .slider-container {
        max-width: 1120px;
        height: 660px;
        background-size: 680px, 100px;
        background-position: 100% 0%, 100px 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider-wrap {   
        text-align: left;
        display: flex;
        flex-direction: row-reverse;    
    }
    .slider-wrap > * {
        width: 100%;
    }
    .img-wrap img {
        max-width: 540px;
        margin: unset;
    }
    .btns-wrap {    
        top: unset;
        bottom: 33px;
        left: 615px;
        transform: unset;
    }
    .btns-wrap button {
        padding: 1.2rem 1.4rem;
    }
    .text-wrap {
        display: flex;
    }
    .quote-wrap {
        align-self: center;
        position: absolute;
        max-width: 650px;
    }
    .quote {
        margin-top: unset;
        font-size: 2rem;
        padding-inline: unset;
    }
    .name {
        margin-top: 2em;
        font-size: 1.2rem;
    }
    .name span {
        display: unset;
        margin-left: .3rem;
    }
}
